[data-theme="dark"] {
	--color-bg: rgb(24, 24, 24);
	--color-border: rgb(48, 48, 48);

	--color-text: gainsboro;
	--color-subtext: slategray;

	--color-primary: orange;
	--color-secondary: hotpink;
	--color-inverted: white;
}
