[data-theme="light"] {
	--color-bg: white;
	--color-border: gainsboro;

	--color-text: black;
	--color-subtext: lightslategray;

	--color-primary: orange;
	--color-secondary: hotpink;
	--color-inverted: white;
}
