$color-bg: var(--color-bg);
$color-border: var(--color-border);

$color-text: var(--color-text);
$color-subtext: var(--color-subtext);

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-inverted: var(--color-inverted);

@mixin themeTransition {
	transition: color 200ms, background-color 200ms, box-shadow 200ms;
}
@mixin keyColoredBackground {
	color: $color-inverted;
	background: linear-gradient(30deg, $color-primary, $color-secondary);
}
@mixin logoText {
	@include keyColoredBackground();

	color: $color-primary;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin button {
	cursor: pointer;
	color: $color-secondary;

	&:hover {
		@include keyColoredBackground();
	}
}
@mixin card {
	@include themeTransition();

	overflow: hidden;
	margin: 0 1em 1em 0;

	border-radius: 4px;
	box-shadow: 0 2px 3px $color-border, 0 0 0 1px $color-border;
}

$border: 1px solid $color-border;
