@use "themes/theme";

:global :local(.Component) {
	@include theme.theme-transition();

	background-color: theme.$color-bg;
	color: theme.$color-text;

	header {
		@include theme.theme-transition();

		display: flex;
		padding: 1rem 3rem;

		border-bottom: theme.$border;
		background-color: theme.$color-bg;

		width: 100vw;
		min-width: 560px;

		position: fixed;
		top: 0;
		left: 0;

		user-select: none;

		> h1 {
			@include theme.eye-catch();

			font-family: "Oswald";
			font-weight: 400;
			font-size: 1.5em;
			letter-spacing: 0.1em;

			margin: 0 2em 0 0;
		}
		> a {
			@include theme.button();

			display: block;

			margin: 0 0.5em;
			padding: 0.4em 1.4em;
			border-radius: 0.2em;

			text-decoration: none;
		}
		> label {
			cursor: pointer;
			width: 75px;
			align-self: center;
			margin-left: auto;

			input:checked ~ span {
				border-color: theme.$color-primary !important;
				box-shadow: inset 0 0 0 30px theme.$color-primary !important;
				a {
					border-color: theme.$color-primary !important;
				}
			}
		}
	}
	main {
		padding: 7rem 3rem 0 3rem;
	}
	footer {
		padding: 1rem 2rem;

		text-align: right;
		font-size: 0.8em;

		color: theme.$color-subtext;
		a {
			color: theme.$color-secondary;
		}
	}
}
