@use "common";

:global :local(.Component) {
	header {
		display: flex;
		padding: 1rem 3rem;

		background-color: common.$inverted-color;
		border-bottom: common.$border;

		width: 100vw;
		min-width: 560px;

		position: fixed;
		top: 0;
		left: 0;

		user-select: none;

		h1 {
			@include common.eye-catch();

			font-family: "Oswald";
			font-weight: 400;
			font-size: 1.5em;
			letter-spacing: 0.1em;

			margin: 0 2em 0 0;
		}
		a {
			display: block;

			margin: 0 0.5em;
			padding: 0.4em 1.4em;
			border-radius: 0.2em;

			text-decoration: none;

			color: common.$secondary-color;
			&:hover {
				@include common.gradient-bg();
				color: white;
			}
		}
	}
	main {
		padding: 7rem 3rem 0 3rem;
		background-color: common.$inverted-color;
	}
	footer {
		padding: 1rem 2rem;

		text-align: right;
		font-size: 0.8em;

		color: common.$subtext-color;
		a {
			color: common.$secondary-color;
		}
	}
}
