$primary-color: orange;
$secondary-color: hotpink;
$inverted-color: white;

$text-color: black;
$subtext-color: lightslategray;

$border-color: gainsboro;

$border: 1px solid $border-color;

@mixin gradient-bg {
	background: linear-gradient(30deg, $primary-color, $secondary-color);
}
@mixin eye-catch {
	@include gradient-bg();
	color: $primary-color;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
@mixin button {
	cursor: pointer;
	color: $secondary-color;

	&:hover {
		@include gradient-bg();
		color: $inverted-color;
	}
}
@mixin card {
	overflow: hidden;
	margin: 0 1em 1em 0;

	border-radius: 4px;
	box-shadow: 0 2px 3px $border-color, 0 0 0 1px $border-color;
}
