@use "themes/theme";
@use "themes/dark";
@use "themes/light";

* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
}

@each $var in "", "::before", "::after" {
	.dot-windmill#{$var} {
		color: theme.$color-primary;
		background-color: theme.$color-primary;
	}
}
