@use "common";

$card-size: 200px;

:global :local(.Component) {
	@include common.card();
	width: $card-size;

	display: flex;
	flex-direction: column;

	img {
		cursor: pointer;
		flex: 0 0 auto;
		width: $card-size;
		height: $card-size;
	}
	.content {
		flex: 1 0 auto;
		padding: 1.2em;
		word-wrap: break-word;

		h2 {
			cursor: pointer;
			margin: 0;
			font-weight: 400;
			line-height: 1.1em;
		}
		h3 {
			cursor: pointer;
			margin: 0;
			font-weight: 400;
			line-height: 1.1em;
			font-size: 0.8em;
			color: common.$subtext-color;
		}
		p {
			line-height: 1.1em;
			font-size: 0.9em;
		}
	}
	.action {
		@include common.button();

		flex: 0 0 auto;
		border-top: common.$border;
		text-align: center;
		padding: 0.6em;
	}
}
