@use "common";

$border: 1px solid common.$border-color;

:global :local(.Component) {
	@include common.card;
	max-width: 400px;

	display: inline-block;

	pre {
		margin: 1.5em 2em;
		word-break: break-word;
		white-space: pre-wrap;
	}
	menu {
		display: flex;
		padding: 0;
		margin: 0;
		border-top: $border;

		user-select: none;

		div {
			text-align: center;
			flex: 1 0 auto;
			padding: 0.3em;

			&:last-child {
				border-left: $border;
			}

			color: common.$primary-color;
			&.action {
				@include common.button();
			}
		}
	}
}
