@use "common";

$border: 1px solid common.$border-color;

:global :local(.Component) {
	display: inline-block;

	border: $border;
	border-radius: 0.5rem;

	max-width: 400px;
	margin: 0 0.5em 0.5em 0;
	overflow: hidden;

	pre {
		margin: 1em;
		word-break: break-word;
		white-space: pre-wrap;
	}
	menu {
		display: flex;
		padding: 0;
		margin: 0;
		border-top: $border;

		user-select: none;

		div {
			text-align: center;
			flex-grow: 1;
			padding: 0.3em;

			&:last-child {
				border-left: $border;
			}

			color: common.$primary-color;
			&.action {
				color: common.$secondary-color;
				cursor: pointer;

				&:hover {
					@include common.gradient-bg();
					color: white;
				}
			}
		}
	}
}
