@use "themes/theme";

:global :local(.Component) {
	@include theme.card();
	max-width: 400px;

	display: inline-block;

	> div {
		@include theme.keyColoredBackground();
		text-align: center;
	}
	> pre {
		margin: 1.5em 2em;
		word-break: break-word;
		white-space: pre-wrap;
	}
	> menu {
		display: flex;
		padding: 0;
		margin: 0;

		user-select: none;
		div {
			@include theme.transition(border-color);

			text-align: center;
			flex: 1 0 auto;
			padding: 0.3em;

			border-top: theme.$border;
			&:last-child {
				border-left: theme.$border;
			}

			color: theme.$color-primary;
			&.action {
				@include theme.button();
			}
		}
	}
}
