<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DEKA COLLECTION</title>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="DEKA COLLECTION">
  <meta name="twitter:url" content="https://deka.narusejun.com/">
  <meta name="twitter:creator" content="@deka0106">
  <meta name="twitter:image" content="https://res.cloudinary.com/narusejun/image/twitter_name/h_200/deka0106.jpg">
  <link rel="icon" href="https://res.cloudinary.com/narusejun/image/twitter_name/h_200/deka0106.jpg">
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.js"></script>
</body>

</html>
